/node_modules
/package-lock.json
/pnpm-lock.yaml

# *.drawio
*.drawio.bkp
.DS_Store
# idea file
.idea/
# Vuepress Cache
.cache/
# Vuepress Temp
.temp/
# Vuepress Output
dist/
# Build files
packages/*/lib/

#git文件
.git/